.formGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.formGroup input{
    padding: 1em;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 0.9em;
}