.card{
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 2px 5px #00000050;
    border-radius: 5px;
    padding: 20px;
    width: 30vw;
    max-width: 300px;
    min-width: 260px;
    gap: 10px;
}
.groupButtons{
    display: flex;
    justify-content: space-between;
}