.container{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}
.between{
    justify-content: space-between;
}
.start{
    justify-content: flex-start;
}