*{
    margin: 0;
}
header{
    display: flex;
    background-color: #200453;
    justify-content: space-between;
    height: 70px;
}
ul{
    display: flex;
    list-style: none;
    height: 100%;
}
li{
    display: flex;
    height: 100%;
}
a{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px;
}