.formGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5em 0;
}
.formGroup label{
    margin-bottom: 0.5em;
}
.formGroup input{
    padding: 1em;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 0.9em;
}