.formGroup{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.formGroup select{
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 0.9em;
    padding: 1em;
}